<%- include('partials/header') %>
    
<div class="container-fluid">
    <h1>Welcome to CramItCards!</h1>
    <a class="btn btn-primary" href="/decks">View Decks</a>
</div>


<%- include('partials/footer') %>